@model New_Zealand_MVC.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<!--this page gives the information about how to found a event this page-->

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Event_Name" class="control-label">Event Name</label>
                <input asp-for="Event_Name" class="form-control" />
                <span asp-validation-for="Event_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event_Place" class="control-label">Event Place</label>
                <input asp-for="Event_Place" class="form-control" />
                <span asp-validation-for="Event_Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event_Address" class="control-label">Event Address</label>
                <input asp-for="Event_Address" class="form-control" />
                <span asp-validation-for="Event_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event_Price" class="control-label">Event Price</label>
                <input asp-for="Event_Price" class="form-control" />
                <span asp-validation-for="Event_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
