@{
    ViewData["Title"] = "Home Page";
}
<div class="holder">
    <div class="cl">&nbsp;</div>
    <div class="text-center">
        <div class="stripe">

            <!--this code display the Templete of navigation bar of index-->

            <div class="text-center">
            <h1 class="display-4">Welcome To New Zealand</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
        
        <div class="cl">&nbsp;</div>
        <div class="text-center">
            <a href="#"><img src="css/images/NEW Zealand.jpg" alt="" /></a>
            <div class="cl">&nbsp;</div>
        </div>
        <!-- End Big Image -->
        <div class="text-center">
            <h3 class="display-4">There's Nothing Like New Zealand</h3>
        </div>
        <div class="layer-1-2 wow slideInUp" data-wow-duratiAuckland.</on="2s" data-wow-delay=".1s">
                <div class="cl">&nbsp;</div>
    </div>

    </div>
        <p>
            New Zealand is an island country in the southwestern Pacific Ocean. 
            It consists of two main landmasses—the North Island and the South Island
            —and more than 700 smaller islands, covering a total area of 268,021 square kilometres.
            New Zealand's culture is mainly derived from Māori and early British settlers, with recent broadening arising from increased immigration.
            The official languages are English, Māori, and New Zealand Sign Language, with English being dominant.
            A developed country, New Zealand ranks highly in international comparisons, particularly in education,
            protection of civil liberties, government transparency, and economic freedom.
        </p>


    </div>
    <div class="cl">&nbsp;</div>
    <div class="text-center">
        <a href="#"><img src="css/images/HISTORY.jpeg" alt="" /></a>
        <div class="cl">&nbsp;</div>
    </div>
    <!-- End Big Image -->
    <div class="layer-1-2 wow slideInUp" data-wow-duratiAuckland.</on="2s" data-wow-delay=".1s">
                <div class="cl">&nbsp;</div>
    </div>

</div>
<p>
    The history of New Zealand (Aotearoa) dates back approximately 700 years to when it was discovered and settled by Polynesians,
    who developed a distinct Māori culture. ...
    The first European explorer known to sight New Zealand was Dutch navigator Abel Tasman on 13 December 1642.
    The name New Zealand comes from the Dutch 'Nieuw Zeeland', the name first given to us by a Dutch mapmaker.
    Between about 1280 and 1350, Polynesians began to settle in the islands and then developed a distinctive Māori culture.
    In 1642, the Dutch explorer, Abel Tasman, became the first European to sight New Zealand.
    </div>

    </ul>
    </div>
    </div>
    <!-- End Sidebar -->
    </div>
    <!-- End Content -->
    <div class="cl">&nbsp;</div>
    <!-- Footer -->




    